// Define variables for your color scheme

// For example:
// $red: #FD1015;
// $blue: #1155cc;
// $yellow: #FFC65A;
$orange: #f59c00;
// $green: #29910d;
$light-green: #98c565;
$dark-gray: #292d34;
$medium-dark-gray: #5d5d5d;
$gray: #b9bec7;
$medium-light-gray: #cccccc;
$light-gray: #F4F4F4;
$purple: #7b68ee;
$pink: #fd71af;
$blue: #49ccf9;
$green: #00b884;
$yellow: #ffc800;
$red: #fd7171;