.purchase-scheme-picture {
  text-align: center; 
  img {
    width: 500px;
    max-width: 100%;
  }
}

.dropdown-menu.show {
  overflow: scroll!important;
  height: 280px!important;
  transform: translate3d(-224px, 38px, 0px)!important;
}
