<div class="banner banner_type_fullpage" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.8)), url(https://ardo.com/files/attachments/.10903/w1800h544zccq85_header_producten.jpg);">
  <div class="container">
    <div class="banner__content">
      <%= image_tag "logo.png", alt: "Ardo", width: 200 %>
      <h1 class="banner__title">Time & Cost Calculator</h1>
      <p class="banner__subtitle">
      <span id="banner-typed-text"></span>
      </p>
      <a class="btn btn-success btn-lg banner__button" href="#">Start</a>
    </div>
  </div>
</div>
