.navbar-lewagon {
  // justify-content: space-between;
  // background-color: transparent;
  background-color: white!important;
  // transition: 0.5s background-color ease;
  // height: 80px;
  color: $gray;
  font-size: 16px;
  font-family: "Nunito";
  // border-bottom: 1px solid $light-gray;
  box-shadow: 0 0 5px rgba(0,0,0,0.4)
}

.navbar__link-color-white {
  a {
    color: white!important;
  }
}

.navbar-lewagon .navbar-collapse {
  // flex-grow: 0;
}

.navbar .navbar-brand img {
  height: 60px;
}

.navbar__login-link {
  color: $gray!important;
}