.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent;
  transition: 0.5s background-color ease;
  height: 80px;
  color: white;
  i {
    color: white;
  }
}

.navbar-lewagon-white {
  background-color: white;
  color: $gray;
  i {
    color: $gray;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 60px;
}

.navbar__icon_type_setting {
  // color: white;
}